<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="assets/images/icons/logo.svg" />
    <link rel="stylesheet" href="assets/styles/style.css" />
    <title>Diferenzza</title>
  </head>
  <body>
    <header>
      <h1>Diferenzza</h1>
      <img src="assets/images/icons/account.svg" width="30" height="30" />
    </header>
    <main>
      <section class="section-input">
        <input type="text" />
        <div></div>
      </section>
      <section class="section-categories">
        <div>
          <img src="/assets/images/icons/account.svg" width="20" height="20" />
          <p>Categoria</p>
        </div>
        <div>
          <img src="/assets/images/icons/account.svg" width="20" height="20" />
          <p>Categoria</p>
        </div>
        <div>
          <img src="/assets/images/icons/account.svg" width="20" height="20" />
          <p>Categoria</p>
        </div>
      </section>
    </main>
  </body>
</html>
