.section-input {
  display: flex;
  justify-content: center;
  align-content: center;
}

.section-input input {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--grey-2);
  outline: none;
  background: url(../images/icons/search.svg) no-repeat right;
  background-size: contain;
}

.section-input div {
  width: 2.2em;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background: url(../images/icons/filter.svg) no-repeat center var(--pink-3);
  background-size: 1.6em;
}
