@import url("https://fonts.googleapis.com/css2?family=Arima:wght@200&family=Poppins:ital,wght@0,300;0,400;1,500&display=swap");

@import url(header.css);
@import url(section-input.css);
@import url(section-categories.css);

:root {
  --font-title: "Arima", cursive;
  --font-text: "Poppins", sans-serif;
  --white: #ffffff;
  --grey-1: #f8f8f8;
  --grey-2: #707070;
  --pink-1: #ffd4d4;
  --pink-2: #f89e9e;
  --pink-3: #ff777b;
  --yellow: #fcd635;
  --red: #f05542;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100%;
  background-color: var(--grey-1);
}
